html,body{
    font-family: 'Microsoft Yahei';
}
/*base styles*/
.ft-c{
    color:#128d56;
}
.bg-c{
    back:#128d56;
    background: -moz-linear-gradient(top, #128d56, #0f7648 8%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#128d56), to(#0f7648))
}