html,body{
    font-family: 'Microsoft Yahei';
}
/*base styles*/
.ft-c{
    color:#128d56;
}
.bg-c{
    back:#128d56;
    background: -moz-linear-gradient(top, #128d56, #0f7648 8%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#128d56), to(#0f7648))
}
.margin-top {
    margin-top: 10px;
}
.margin-bottom {
    margin-bottom: 10px;
}
/*测试代码专用*/
pre:before{
    position: absolute;
    top:2px;right: 5px;
    content:'FOR TEST';
    font-weight: bold;
    color: #b94a48;
    text-shadow: 0 0 0.8px #ce8483;
}
/*表单验证*/
form .w5c-error {
    color: #b94a48;
    display: block;
    margin-top: 5px;
}

/*
 * 数据列表和filter表单 的通用样式 及筛选组件样式
**/

/*filter部分的表单央视*/
.filter-form .form-group label,.filter-form .form-group div{
    float: left;
}
.filter-form .form-group label{
    width: 80px;
    padding-right: 15px;
}
.filter-form .form-group div{
    width: 200px;
}

/*数据列表的通用样式*/
.table a{
    cursor: pointer;
}
.table thead tr th,.table tbody tr td{
    padding-left: 10px;
    text-align: left;
}
.table .operations a{
    margin: 0 2px;
}

