.form-create legend{
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

.form-detail legend{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #f5f5f5;
}