/*创建表格的头部提示性标题*/
.form-create legend{
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}


/*选择教师图片的select框 img.pic-micro*/
.img-micro {
    width: 80px;
    height: 80px;
}
/*机构logo图片*/
.img-logo{
    width: 160px;
    height: 160px;
    background: linear-gradient(#eeeeee,#ffffff,#eeeeee);
}



/*日期选择样式调整*/
.datepicker{
    width: 240px;
    padding: 0}
    .datepicker thead .btn{
        /*去除头部按钮的边框*/
        border:none;}
    .datepicker .dow{
        /*周一周二等的字体大小*/
        font-size: 14px;}

.form-detail legend{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #f5f5f5;
}

