<div class="row">
    <div class="col-xs-12">
        <h3>
            <small><a ui-sref="main.templates.list" class="btn fa fa-chevron-left pull-left"> 返回列表 </a></small>
            课程模板详情
            <small>--{{template.courseName}}</small>
        </h3>
    </div>
</div>
<div class="row">
<form class="col-xs-9 form-horizontal form-detail" role="form" name="validateForm" w5c-form-validate novalidate>
<legend>重要信息</legend>
<div ng-if="port=='admin'" class="form-group form-group-sm">
    <label class="col-xs-3 control-label">所属机构</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.instName}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">模板名(*)</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.courseName}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课程所属类目</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.categoryValue | categoryText}}</p>
    </div>
</div>
<div class="form-group form-group-sm" ng-if="!template.price">
    <label class="col-xs-3 control-label">课程价格</label>

    <div class="col-xs-3">
        <p class="form-control-static">定制</p>
    </div>
</div>
<div class="form-group form-group-sm" ng-if="template.originalPrice">
    <label class="col-xs-3 control-label">原价格</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{template.originalPrice|currency}}</p>
    </div>
</div>
<div class="form-group form-group-sm" ng-if="template.originalPrice">
    <label class="col-xs-3 control-label">爱上课价格</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{template.price|currency}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">支付方式</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.bookingType | payTypeText}}</p>
    </div>
</div>
<div class="form-group form-group-sm" ng-if="template.originalPrice">
    <label class="col-xs-3 control-label">线下支付返现</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{template.cashback|currency}}</p>
    </div>
</div>
<div class="form-group form-group-sm" ng-if="template.originalPrice">
    <label class="col-xs-3 control-label">在线支付立减</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{template.commission|currency}}</p>
    </div>
</div>




<legend>基本信息</legend>
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">是否有具体开课日期</label>-->

    <!--<div class="col-xs-7">-->
        <!--<p class="form-control-static">-->
            <!--<span ng-if="template.startUponArrival==1">是</span>-->
            <!--<span ng-if="template.startUponArrival==0">否-->
                <!--&nbsp;({{template.regPhone}})-->
            <!--</span>-->
        <!--</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">开课日期</label>-->

    <!--<div class="col-xs-3">-->
        <!--<p class="form-control-static">{{template.startDate|date}} 至 {{template.finishDate|date}}</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">上课时间</label>-->

    <!--<div class="col-xs-8">-->
        <!--<p class="form-control-static">-->
            <!--{{template.startTime1|toHHmm}}-{{template.finishTime1|toHHmm}}-->
            <!--<span ng-show="template.startTime2!=null">-->
                <!--{{template.startTime2|toHHmm}}-{{template.finishTime2|toHHmm}}-->
            <!--</span>-->
        <!--</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">上课区间</label>-->

    <!--<div class="col-xs-3">-->
        <!--<p class="form-control-static">{{template.schooltimeWeek |schooltimeWeek}}-{{template.schooltimeDay |-->
            <!--schooltimeDay}}</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">上课日子</label>-->

    <!--<div class="col-xs-3">-->
        <!--<p class="form-control-static">{{template.studyDays | studyDays}}</p>-->
    <!--</div>-->
<!--</div>-->
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课时数量</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{template.courseHourNum}}课时</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课时长度</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{template.courseHourLength}}(分钟)</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">班级类型</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{template.classSize}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">班级分类</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{template.classType | classType}}</p>
    </div>
</div>
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">开班要求</label>-->

    <!--<div class="col-xs-8">-->
        <!--<p class="form-control-static">{{template.openCourseRequirement}}</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">报名截止日期</label>-->

    <!--<div class="col-xs-3">-->
        <!--<p class="form-control-static">{{template.cutoffDate|date}}</p>-->
    <!--</div>-->
<!--</div>-->
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">适合学员</label>

    <div class="col-xs-8">
        <p class="form-control-static" ng-bind-html="template.suitableStudent"></p>
    </div>
</div>
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">上课地点</label>-->

    <!--<div class="col-xs-8">-->
        <!--<p class="form-control-static">{{template.address}}</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">上课地点归属</label>-->

    <!--<div class="col-xs-8">-->
        <!--<p class="form-control-static">{{template.locationValue|locationText}}</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">报名地点</label>-->

    <!--<div class="col-xs-8">-->
        <!--<p class="form-control-static">{{template.regAddress}}</p>-->
    <!--</div>-->
<!--</div>-->
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">教师列表</label>

    <div class="col-xs-5">
        <ul class="list-unstyled">
            <li ng-repeat="teacher in template.teacherList">
                <img ng-src="{{teacher.imgUrl}}" alt="教师照片" class="img-micro"/>
                <label>{{teacher.name}}</label>
                <span>--{{teacher.intro}}</span>
            </li>
        </ul>
    </div>
</div>


<legend>教学信息</legend>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">教材介绍</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.teachingMaterialIntro}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">教材费用</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.teachingMaterialFee}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课程介绍</label>

    <div class="col-xs-8">
        <p class="form-control-static" ng-bind-html="template.courseIntro"></p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">教学目标</label>

    <div class="col-xs-8">
        <p class="form-control-static" ng-bind-html="template.goal"></p>
    </div>
</div>
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">先修知识</label>-->

    <!--<div class="col-xs-8">-->
        <!--<p class="form-control-static" ng-bind-html="template.prerequest"></p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">上课形式</label>-->

    <!--<div class="col-xs-8">-->
        <!--<p class="form-control-static">{{template.teachingMethod}}</p>-->
    <!--</div>-->
<!--</div>-->

<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课程提纲</label>

    <div class="col-xs-8">
        <p class="form-control-static" ng-bind-html="template.outline"></p>
    </div>
</div>
<legend>教学补充</legend>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课件下载</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.downloadMaterials}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">题库支持</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.questionBank}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">推荐就业</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.classTeacher}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">讲练结合</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.teachingAndExercise}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">阶段测评</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.quiz}}</p>
    </div>
</div>
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">课后答疑</label>-->

    <!--<div class="col-xs-8">-->
        <!--<p class="form-control-static">{{template.questionSession}}</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">课后作业</label>-->

    <!--<div class="col-xs-8">-->
        <!--<p class="form-control-static">{{template.assignments}}</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="form-group form-group-sm">-->
    <!--<label class="col-xs-3 control-label">作业批改</label>-->

    <!--<div class="col-xs-8">-->
        <!--<p class="form-control-static">{{template.marking}}</p>-->
    <!--</div>-->
<!--</div>-->
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">教学特色</label>

    <div class="col-xs-8">
        <p class="form-control-static" ng-bind-html="template.highScoreReward"></p>
    </div>
</div>
<legend>特色服务</legend>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">签约保过</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.passAgreement}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">结业证书</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.certification}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课后互动</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.extracurricular}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">赠送服务</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{template.bonusService}}</p>
    </div>
</div>

</form>
<div class="col-xs-3" scroll-fix>
    <label>可执行的操作</label>
    <ul class="list-operations">
        <li ng-click="doRefresh()">
            <a><i class="fa fa-refresh"></i> 刷新</a>
        </li>
        <li ng-repeat="op in template.actionList" >
            <a ng-if="op.name=='submitUpdated'" ng-click="operate(template.id,op.name)">
                修改
            </a>
            <a ng-if="op.name!='submitUpdated'&&op.name!='delete'" ng-click="operate(template.id,op.name)">
                {{op.name | courseOperationText}}
            </a>
            <a ng-if="op.name=='delete'" ng-really-click="operate(template.id,op.name)" ng-really-message="确认删除">删除</a>
        </li>

    </ul>
</div>

</div>