<!--filter-->
<div class="row margin-bottom">
    <div class="col-xs-2" scroll-fix>
        <tabset vertical="true" type="pills">
            <label>审核状态</label>
            <li class="nav-divider"></li>
            <tab ng-repeat="a in tabs" heading="{{a.label}}" active="a.active"
                 ng-click="chooseTab(a)">
            </tab>
            <li class="nav-divider"></li>
        </tabset>
        <div ng-repeat="(k,v) in search" ng-if="v">
            <p ng-show="$index==0"><strong>当前筛选</strong>
            <hr/></p>
            <span ng-show="k=='id'">模板</span>{{k|searchText}} : {{v}}
        </div>
    </div>
    <div class="col-xs-10 pull-right">
        <form class="form-horizontal filter-form">
            <div class="form-group">
                <label ng-if="global.isAdmin" class="control-label">机构ID</label>
                <div ng-if="global.isAdmin">
                    <input type="text" class="form-control input-sm"
                           ng-model="search_tmp.partnerId"/>
                </div>
                <label class="control-label" for="">模板ID</label>
                <div><input type="text" class="form-control input-sm"
                       ng-model="search_tmp.id"/></div>
                <label class="control-label" for="">模板名</label>
                <div><input type="text" class="form-control input-sm"
                       ng-model="search_tmp.courseName"/></div>
            </div>
            <div class="form-group">
                <label></label>
                <div>
                    <button class="btn btn-primary btn-sm" ng-click="doSearch()"><i class="fa fa-search"></i> 查 询</button>
                    <button class="btn btn-default btn-sm" ng-click="clearSearch()">清空输入</button>
                </div>
            </div>
        </form>
        <hr/>

        <div class="btn-toolbar">
            <a class="btn btn-primary" ui-sref="main.templates.create"><i class="fa fa-plus"></i> 新建模板 </a>
            <a class="btn btn-default btn-sm text-danger" href="#"><i class="fa fa-trash-o"></i> 删除</a>
        </div>
        <table class="table table-condensed table-hover table-bordered margin-top">
            <thead>
            <tr>
                <th ng-repeat="t in th" width="{{t.w}}%">
                    {{ t.n }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.id || '无'}}</td>
                <td>{{item.courseName|| '无'}}</td>
                <td>{{item.price| currency}}</td>
                <td>{{item.originalPrice| currency}}</td>
                <td>{{item.status| courseStatusText}}</td>
                <td class="operations">
                    <a ui-sref="main.templates.detail({id:item.id})">查看</a>
                    <span ng-repeat="op in item.actionList" >
                        <a ng-if="op.name=='submitUpdated'" ng-click="operate(item.id,op.name)">修改</a>
                        <a ng-if="op.name!='submitUpdated'&&op.name!='delete'" ng-click="operate(item.id,op.name)">
                            {{op.name | courseOperationText}}
                        </a>
                        <a ng-if="op.name=='delete'" ng-really-click="operate(item.id,op.name)" ng-really-message="确认删除">删除</a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="page clearfix">
            <p class="pull-left">共{{page.total}}条记录，每页显示{{page.count}}条记录</p>
            <pagination class="pull-right" ng-model="page.start" total-items="page.total" items-per-page="page.count"
                        ng-change="doRefresh()"
                        max-size="9"
                        class="pagination-sm"
                        boundary-links="true" rotate="false" num-pages="total_pages"
                        previous-text="上一页" next-text="下一页"></pagination>
        </div>

    </div>
</div>