<div>
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <small><a ui-sref="admin.partners.list" class="btn fa fa-chevron-left pull-left"> 返回列表 </a></small>
                机构信息
                <small>--{{partner.instName}}</small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9" ui-view>
            <form class="form-horizontal">
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">合作机构ID</label>

                    <div class="col-xs-5 form-control-static">{{partner.id}}</div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">Logo:</label>

                    <div class="col-xs-5 form-control-static"><img ng-show="!!partner.logoUrl" ng-src="{{partner.logoUrl}}">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">机构简称:</label>

                    <div class="col-xs-5 form-control-static">{{partner.instName}}</div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">机构全称:</label>

                    <div class="col-xs-5 form-control-static">{{partner.wholeName}}</div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">机构简介:</label>

                    <div class="col-xs-5 form-control-static">{{ partner.partnerIntro }}</div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">机构荣誉:</label>

                    <div class="col-xs-5 form-control-static">{{ partner.partnerDistinction }}</div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">合作伙伴资格:</label>

                    <div class="col-xs-5 form-control-static">{{partner.partnerQualification|partnerQualification}}</div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">公司总部地址:</label>

                    <div class="col-xs-5 form-control-static">{{partner.hqLocation}}</div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">默认课程截止日:</label>

                    <div class="col-xs-5 form-control-static">报名提前{{partner.cutoffDay}}天截止</div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">默认截止日几点截止:</label>

                    <div class="col-xs-5 form-control-static">{{partner.cutoffTime |toHHmm}}</div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-4 control-label">查询号:</label>

                    <div class="col-xs-5 form-control-static">{{partner.reference}}</div>
                </div>
            </form>
        </div>

        <div class="col-xs-3 side-nav" scroll-fix>
            <hr/>
            <label class="margin-bottom">快速链接</label>
            <p>
                <a ng-class="{active:$state.current.name===('admin.partners.detail')}" ui-sref="admin.partners.detail({id:partner.id})">查看</a>
                <span>/</span>
                <a ng-class="{active:$state.current.name===('admin.partners.detail.edit')}" ui-sref="admin.partners.detail.edit({id:partner.id})">修改</a>
                <span>基本信息</span>
            </p>
            <p><a ng-class="{active:$state.current.name===('admin.partners.detail.logo')}"
                  ui-sref="admin.partners.detail.logo({id:partner.id})">修改机构logo</a></p>

            <p><a ng-class="{active:$state.current.name===('admin.partners.detail.photo')}"
                  ui-sref="admin.partners.detail.photo({id:partner.id})">管理机构照片</a></p>

            <p><a ng-class="{active:$state.current.name===('admin.partners.detail.teacher')}"
                  ui-sref="admin.partners.detail.teacher({id:partner.id})">管理机构教师</a></p>

            <p><a ng-class="{active:$state.current.name===('admin.partners.detail.address')}"
                  ui-sref="admin.partners.detail.address({id:partner.id})">管理校区地址</a></p>
            <hr/>
        </div>
    </div>
</div>