<div class="modal-header">
    <h4>选择{{title}}
        <small>--双击可进行快速选择</small>
    </h4>
</div>
<div class="modal-body">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in items track by item.id"
            ng-class="{'active':item.id===selected.item.id}"
            ng-click="selected.item = item" ng-dblclick="selected.item = item;ok()">
            <label>ID {{item.id}}</label> &gt;
            <label>{{ item.courseName || item.instName}}</label>
            <i class="pull-right fa fa-check fa-stack hidden"></i>
        </li>
    </ul>
    <div ng-if="items===''" class="text-center">暂未创建任何{{title}}</div>
</div>
<div class="modal-footer">
    {{page}}
    <div ng-if="items!==''">
        <div ng-click="prePage()" ng-if="page.start >= page.count"
             class="ion-ios7-arrow-left icon-left button button-clear button-dark">上一页
        </div>
        <div ng-click="nexPage()" ng-if="page.start + page.count < page.total"
             class="ion-ios7-arrow-right icon-right button button-clear button-dark">下一页
        </div>
    </div>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>