<div class="modal-header">
    <h4>选择{{title}}
        <small>--双击可进行快速选择</small>
    </h4>
</div>
<div class="modal-body">
    <div class="loading" ng-show="loading"></div>
    <ul class="list-group no-margin">
        <li class="list-group-item" ng-repeat="item in items track by item.id"
            ng-class="{'active':item.id===selected.item.id}"
            ng-click="selected.item = item" ng-dblclick="selected.item = item;ok()">
            <label>ID {{item.id}}</label> &gt;
            <label>{{ item.courseName || item.instName}}</label>
            <i class="pull-right fa fa-check fa-stack hidden"></i>
        </li>
    </ul>
    <div ng-if="items===''" class="text-center">暂未创建任何{{title}}</div>
</div>
<div class="modal-footer">
    <div class="pull-left" ng-if="items!==''">
        <pagination class="no-margin" ng-model="page.start" total-items="page.total" items-per-page="page.count"
                    ng-change="doRefresh()"
                    max-size="4"
                    class="pagination-sm"
                    boundary-links="true" rotate="false" num-pages="total_pages"
                    previous-text="上页" next-text="下页"></pagination>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</div>