<div class="row">
    <a back-btn class="btn fa fa-chevron-left pull-left"> 返回</a>

    <div class="pull-right">{{ title }}</div>
</div>
<div class="row">
    <form class="col-xs-12 form-horizontal" role="form" name="newForm">
        <legend>订单基本信息</legend>
        <div class="form-group">
            <label class="col-xs-3 control-label">订单号</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ b.reference }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">预约人</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ b.name }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">手机号码</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ b.phone }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">预约时间</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ (b.scheduleTime |date)||'无（可能来源于移动端预订）' }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">支付方式</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ b.type | payTypeText }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">支付总额</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ (b.price | currency) || '价格定制'}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">可返现金额</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ (b.cashbackAmount||0) | currency}}</p>
            </div>
        </div>


        <legend>订单课程信息</legend>
        <div class="form-group">
            <label class="col-xs-3 control-label">课程名</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ b.course.courseName }}</p>
            </div>
        </div>
        <!--<div class="form-group" ng-if="b.course.price">-->
            <!--<label class="col-xs-3 control-label">价格</label>-->

            <!--<div class="col-xs-7">-->
                <!--<p class="form-control-static">{{ b.course.price }}</p>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-xs-3 control-label" ng-if="b.course.cashback">线下返现</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ (b.course.cashback|currency)||'-- --' }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" ng-if="b.course.commission">线上立减</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ (b.course.commission|currency)||'-- --' }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">订单状态</label>

            <div class="col-xs-4">
                <p class="form-control-static">{{ b.status | bookingStatusText }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">创建时间</label>

            <div class="col-xs-4">
                <p class="form-control-static">{{ b.createTime | date:'yyyy-MM-dd HH:mm' }}</p>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-3 control-label">最后修改时间</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ b.lastModifyTime | date:'yyyy-MM-dd HH:mm'}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">优惠信息</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ b.course.marking || '-- --'}}</p>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">是否有具体开课日期</label>
            <div class="col-xs-7">
                <p class="form-control-static">
                    <span ng-if="b.course.startUponArrival==1">是</span>
                    <span ng-if="b.course.startUponArrival==0">否
                        &nbsp;({{b.course.regPhone}})
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group form-group-sm" ng-if="b.course.startUponArrival==1">
            <label class="col-xs-3 control-label">开课日期</label>

            <div class="col-xs-3">
                <p class="form-control-static">{{(b.course.startDate|date)||'--'}} 至 {{(b.course.finishDate|date)||'--'}}</p>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">上课时间</label>

            <div class="col-xs-8">
                <p class="form-control-static">
                    {{b.course.startTime1|toHHmm}}-{{b.course.finishTime1|toHHmm}}
                    <span ng-show="course.startTime2!=null">
                        {{b.course.startTime2|toHHmm}}-{{b.course.finishTime2|toHHmm}}
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">上课区间</label>

            <div class="col-xs-7">
                <p class="form-control-static">
                    {{b.course.schooltimeWeek|schooltimeWeek}}-{{b.course.schooltimeDay|schooltimeDay}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-3 control-label">课时信息</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ b.course.qualityAssurance||'无' }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">机构简称</label>
            <div class="col-xs-7">
                <p class="form-control-static">{{ b.course.instName }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">上课地址</label>

            <div class="col-xs-7">
                <p class="form-control-static">{{ b.course.address }}</p>
            </div>
        </div>
    </form>
</div>