<!--home content start-->
<div class="row">
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span><i class="fa fa-calendar"></i> 今日数据</span>
                <span class="pull-right">
                    <span ng-if="today.updateTime">{{today.updateTime|date:'MM月dd日 HH:mm:ss'}}已更新</span>
                    &nbsp;&nbsp;&nbsp;<a ng-click="doRefresh()"><i class=" fa fa-refresh" ng-class="{'fa-spin':today.loading}"></i> 刷新</a>
                </span>
            </div>
            <div class="panel-body">
                <div class="nums clearfix">
                    <a ui-sref="main.bookings.new" class="num">
                        <i ng-bind="today.bookingCount"></i>
                        课程订单
                    </a>
                    <a class="num">
                        <i ng-bind="today.applyCount"></i>
                        选课申请
                    </a>
                    <a class="num">
                        <i ng-bind="today.registerCount"></i>
                        新增用户
                    </a>
                </div>
                <hr/>
                <!--<div>-->
                    <!--<input type="checkbox" id="check_pop"/><label for="check_pop">弹窗提醒</label>-->
                    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <!--<input type="checkbox" id="check_sound"/><label for="check_sound">声音提醒</label>-->
                <!--</div>-->
            </div>
        </div>

    </div>
    <div class="col-xs-4" scroll-fix>
        <div class="panel panel-primary">
            <div class="panel-heading">爱公告</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>无</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--home content end-->