<div class="row">
    <a ui-sref="admin.templates.list" class="btn fa fa-arrow-left pull-left"> Back</a>

    <div class="pull-right">{{ title }}</div>
</div>
<div class="row">
    <form class="col-md-12 form-horizontal" role="form" name="newForm">

        <div class="form-group">
            <label class="col-md-3 control-label">订单状态</label>

            <div class="col-md-4">
                <p class="form-control-static">{{ item.name }}</p>
            </div>
        </div>
    </form>
</div>