<!--order_new content start-->
<div ui-view>
    <div class="row">
        <!--title-->
        <div class="row margin-bottom">
            <div class="col-md-12">
                <a ui-sref="admin.courses.create" class="btn btn-primary pull-right">新建课程</a>
            </div>
        </div>
        <!--filter-->
        <div class="row margin-bottom">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="">课程号</label>
                        <input type="text" class="form-control input-sm"
                               ng-model="filter.c_id"/>
                    </div>
                </form>
                <div>
                    <button class="btn btn-default" ng-click="doRefresh()">查 询</button>
                </div>
                <pre class="margin-top">{{filter|json}}</pre>
            </div>
        </div>
        <!--table-->

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                    <tr>
                        <th ng-repeat="t in th" width="{{t.w}}%">
                            {{ t.n }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.id || '无'}}</td>
                        <td>{{item.name|| '无'}}</td>
                        <td>
                            <a ui-sref="admin.courses.detail({id:item.id})">查看</a>
                            <a>修改</a>
                            <a>删除</a>
                            <!--如果处于下线状 态-->
                            <a>上线</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination ng-model="page.index" total-items="page.total" items-per-page="page.count"
                            ng-change="doRefresh()"
                            max-size="9"
                            class="pagination-sm"
                            boundary-links="true" rotate="false" num-pages="total_pages"
                            previous-text="上一页" next-text="下一页"></pagination>
            </div>
        </div>
    </div>
</div>
<!--order_new content end-->