<!--home content start-->
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-calendar"></i> 今日数据</div>
            <div class="panel-body">

                <p>未处理新订单：</p>
                <p>未审核旧订单：</p>
                <p>受处理订单提醒：</p>
                <hr/>
                <div>
                    <input type="checkbox" id="check_pop"/><label for="check_pop">弹窗提醒</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="check_sound"/><label for="check_sound">声音提醒</label>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">爱公告</div>
            <div class="panel-body">
                <ol>
                    <li>xxx</li>
                    <li>xxx</li>
                    <li>xxx</li>
                </ol>
            </div>
        </div>


    </div>
</div>
<!--home content end-->