<div class="container">
    <!--home content start-->
    <div class="row">
        <div class="col-md-4">
            <a href="#/course">course page</a>
        </div>
        <div class="col-md-4">
            <a href="#/course">course page</a>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">爱公告</div>
                <div class="panel-body">
                    <ol>
                        <li>xxx</li>
                        <li>xxx</li>
                        <li>xxx</li>
                    </ol>
                </div>
            </div>


        </div>
    </div>
    <!--home content end-->
</div>
