<!--filter-->
<div class="row margin-bottom">
    <!--左侧状态栏-->
    <div class="col-md-2" scroll-fix>
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li class="nav-divider"></li>
            <li class="active"><a href="#">今日待处理</a></li>
            <li><a href="#">往日待处理</a></li>
            <li class="nav-divider"></li>
        </ul>
        <label ng-hide="1">当前筛选</label>
    </div>
    <!--右侧内容面板-->
    <div class="col-md-10">
        <!--筛选表单-->
        <form class="form-horizontal filter-form">
            <div class="form-group">
                <label class="control-label" for="">订单号</label>
                <div><input type="text" class="form-control input-sm"
                            ng-model="filter_tmp.id"/></div>
            </div>
            <div class="form-group">
                <label></label>
                <div>
                    <button class="btn btn-primary btn-sm" ng-click="doRefresh()"><i class="fa fa-search"></i> 查 询</button>
                    <button class="btn btn-default btn-sm" ng-click="clearFilter()">清空输入</button>
                </div>
            </div>
        </form>
        <form class="form-inline">
            <label> 审核状态</label>
            <label ng-repeat="a in options.status">
                <input type="radio" ng-model="filter.status" ng-value="a.value"/>{{a.label}}
            </label>
        </form>
        <div class="row">
            <pre class="col-md-6">filter{{filter|json}}</pre>
            <pre class="col-md-6">filter_tmp{{filter_tmp|json}}</pre>
        </div>

        <!--操作栏-->
        <div class="btn-toolbar">
            <a class="btn btn-primary btn-sm" ng-click=""><i class="fa fa-check"></i> 批量确认</a>
            <a class="btn btn-default btn-sm text-danger" ng-click=""><i class="fa fa-times text-danger"></i> 批量拒绝</a>
        </div>
        <!--表格列表-->
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th><input type="checkbox"/></th>
                <th ng-repeat="t in th" width="{{t.w}}%">
                    {{ t.n }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td><input type="checkbox"/></td>
                <td>{{item.id || '无'}}</td>
                <td>{{item.name|| '无'}}</td>
                <td>
                    <a ui-sref="admin.bookings.detail({id:item.id})">查看</a>
                    <!--todo 这里需要动态生成可操作的按钮-->

                </td>
            </tr>
            </tbody>
        </table>
        <div class="page clearfix">
            <p class="pull-left">共{{page.total}}条记录，每页显示{{page.count}}条记录</p>
            <pagination class="pull-right" ng-model="page.index" total-items="page.total" items-per-page="page.count"
                        ng-change="doRefresh()"
                        max-size="9"
                        class="pagination-sm"
                        boundary-links="true" rotate="false" num-pages="total_pages"
                        previous-text="上一页" next-text="下一页"></pagination>
        </div>

    </div>
</div>