<div ng-controller="partnersCreateCtrl">
    <form class="col-md-12 form-horizontal" role="form" name="validateForm" w5c-form-validate novalidate>
        <div>
            <label class="col-sm-3 control-label">合作机构ID</label>
            <input type="hidden" class="form-control" id="partnerId" name="partnerId" ng-model="{{partner.partnerId}}"/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">机构全称:</label>
            <input type="text" class="form-control" id="wholeName" name="wholeName" ng-model="{{partner.wholeName}}" required="" /
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">机构简介:</label>
            <input type="text" class="form-control" id="partnerIntro" name="partnerIntro" ng-model="{{ partner.partnerIntro }}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">机构荣誉:</label>
            <input type="text" class="form-control" id="partnerDistinction" name="partnerDistinction" ng-model="{{ partner.partnerDistinction }}"/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">合作伙伴资格:</label>
            
                <select class="form-control" id="partnerQualification" name="partnerQualification" ng-model="{{partner.partnerQualification}}">
                    <option value="0">已认证</option>
                    <option value="1">未认证</option>
                </select>   
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">公司总部地址:</label>
            <input type="text" class="form-control" id="hqLocation" name="hqLocation" ng-model="{{partner.hqLocation}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">校区地址:</label>
            <input type="text" class="form-control subLocations" id="subLocations1" name="subLocations1" ng-model="{{partner.subLocation1}}" required=""/>
            
            <a id="addLocation" ng-click="">增加更多地址</a>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">报名地址一致:</label>
            <input type="checkbox" class="form-control" id="uniformRegistraLocation" name="uniformRegistraLocation" ng-model="{{partner.uniformRegistraLocation}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">总部合作关系对接人:</label>
            <input type="text" class="form-control" id="hqContact" name="hqContact" ng-model="{{partner.hqContact}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">总部对接人联系电话:</label>
            <input type="text" class="form-control" id="hqContactPhone" name="hqContactPhone" ng-model="{{partner.hqContactPhone}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">课程详情联联络人:</label>
            <input type="text" class="form-control" id="courseContact" name="courseContact" ng-model="{{partner.courseContact}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">课程联络人联系电话:</label>
            <input type="text" class="form-control" id="courseContactPhone" name="courseContactPhone" ng-model="{{partner.courseContactPhone}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">学员咨询联系电话:</label>
            <input type="text" class="form-control" id="studentInqueryPhone" name="studentInqueryPhone" ng-model="{{partner.studentInqueryPhone}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">报名学员入学状态对接人:</label>
            <input type="text" class="form-control" id="registraContact" name="registraContact" ng-model="{{partner.registraContact}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">报名学员入学状态联系电话:</label>
            <input type="text" class="form-control" id="registraContactPhone" name="registraContactPhone" ng-model="{{partner.registraContactPhone}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">报名学员入学状态传真号码:</label>
            <input type="text" class="form-control" id="registraContactFax" name="registraContactFax" ng-model="{{partner.registraContactFax}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">默认课程截止日:</label>
            <input type="text" class="form-control" id="defaultCutoffDay" name="defaultCutoffDay" ng-model="{{partner.defaultCutoffDay}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">默认截止日几点截止:</label>
            <input type="text" class="form-control" id="defaultCutoffTime" name="defaultCutoffTime" ng-model="{{partner.defaultCutoffTime}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">执照:</label>
            <input type="text" class="form-control" id="licence" name="licence" ng-model="{{partner.licence}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">机构号:</label>
            <input type="text" class="form-control" id="organizationNum" name="organizationNum" ng-model="{{partner.organizationNum}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">查询号:</label>
            <input type="text" class="form-control" id="reference" name="reference" ng-model="{{partner.reference}}" required=""/>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label">学校名:</label>
            <input type="text" class="form-control" id="instName" name="instName" ng-model="{{partner.instName}}" required=""/>
        </div>
        <input type="button" value="提 交" w5c-form-submit="create(partner)" />
        <input type="button" value="取 消" ng-click="cancel()" />
    </form>
</div>