<div class="row">
    <form class="col-xs-9 form-horizontal" role="form" name="validateForm" w5c-form-validate novalidate>
        <div class="clearfix">
            <div ng-repeat="teacher in partner.teacherList" class="img-thumbnail pull-left" style="width:200px">
                <img ng-src="{{teacher.imgUrl}}" class="img-micro center-block"/>
                <input type="file" name="teacherImg{{$index}}" ng-file-select="onFileSelect($files, $index)"
                       ng-model="teacher.teacherImg"/>

                <p>
                    <label>姓名</label>
                    <input class="form-control input-sm" type="text" name="teacherName{{$index}}" ng-model="teacher.name">
                </p>

                <p>
                    <label>简介</label>
                    <textarea class="form-control input-sm" type="text" name="teacherIntro{{$index}}" ng-model="teacher.intro"></textarea>
                </p>

                <p>
                    <button class="btn btn-default btn-sm">编辑</button>
                    <button class="btn btn-warning btn-sm"  ng-click="removeTeacher($index)">删除</button>
                </p>
            </div>
        </div>

        <div>
            <button class="btn btn-default btn-sm" ng-click="addTeacher()">增加</button>
            <button class="btn btn-primary btn-sm" ng-click="submit()">保存</button>
        </div>
    </form>

    <div class="col-xs-3">
        <button class="btn btn-default btn-sm" ng-click="doRefresh()">刷新</button>
        <hr/>
        <pre>
            {{partner.instName}}
            {{partner.teacherList|json}}
        </pre>
    </div>
</div>