<div class="row">
    <div class="col-xs-12">
        <h3>
            <small><a ui-sref="admin.partners.list" class="btn fa fa-chevron-left pull-left"> 返回机构列表 </a></small>
            机构logo<small>--{{template.courseName}}</small>
        </h3>
    </div>
</div>
<div class="row">
    <form class="col-xs-9 form-horizontal" role="form" name="validateForm">
        <div class="form-group">
            <div class="col-xs-4 col-xs-offset-3">
                <!--这边需要一张默认图片作为背景-->
                <img alt="" class="img-thumbnail img-logo margin-bottom" ng-src="logoUrl"/>
                <p ng-show="!!logo">文件名：{{logo.name}} 类型：{{logo.type}} 大小：{{logo.size}}B</p>
                <input type="file" ng-file-select="onFileSelect($files)"/>
                <br/>
                <input class="btn btn-default btn-sm" type="button" ng-click="upload()" value="上传logo"/>
                <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
            </div>
        </div>

    </form>
    <div class="col-xs-3">

        <label>快速链接</label>

        <p>查看机构logo</p>
        <p><a class="center-block" ui-sref="admin.partners.photo({id:partnerId})">&gt;查看机构照片</a></p>
        <p><a class="center-block" ui-sref="admin.partners.teacher({id:partnerId})">&gt;查看机构教师</a></p>
        <hr/>
        <p><a ui-sref="admin.partners.detail({id:partnerId})">返回机构详情</a></p>
    </div>
</div>
<!--order_new content end-->