<div class="row">
    <a ui-sref="admin.partners.list" class="btn fa fa-arrow-left pull-left"> Back</a>

    <div class="pull-right">{{ title }}</div>
</div>
<div class="row">
    <form class="col-xs-9 form-horizontal" role="form" name="validateForm" w5c-form-validate novalidate>
        <input type="hidden" class="form-control" id="id" name="id" ng-model="partner.id"/>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">机构全称:</label>
            <div class="col-xs-5"><input type="text" class="form-control" id="wholeName" name="wholeName" ng-model="partner.wholeName" required="" /></div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">机构简介:</label>
            <div class="col-xs-5"><input type="text" class="form-control" id="partnerIntro" name="partnerIntro" ng-model="partner.partnerIntro " required=""/></div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">机构荣誉:</label>
            <div class="col-xs-5"><input type="text" class="form-control" id="partnerDistinction" name="partnerDistinction" ng-model=" partner.partnerDistinction"/></div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">合作伙伴资格:</label>
            <div class="col-xs-5">
                <button name="partnerQualification" ng-model="partner.partnerQualification" class="btn btn-default btn-sm"
                        bs-select ng-options="item.value as item.label for item in options.partnerQualification">
                </button>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">公司总部地址:</label>
            <div class="col-xs-5"><input type="text" class="form-control" id="hqLocation" name="hqLocation" ng-model="partner.hqLocation" required=""/></div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">校区地址（经纬度选填）:</label>
            <div class="col-xs-5">
            <div ng-repeat="location in partner.addressList track by $index">
                <input type="text" class="form-control addressList" name="addressList{{$index}}" ng-model="partner.addressList[$index]"/>
                <a ng-click="removeLocation($index)" class="glyphicon-remove">删除</a>
            </div>
            <a id="addLocation" ng-click="addLocation()">增加更多地址</a>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">默认课程截止天数:</label>
            <div class="col-xs-5">
                <input type="number" class="form-control" name="cutoffDay" ng-model="partner.cutoffDay" placeholder="课程开始前多少天前截止"/>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">默认截止日几点截止:</label>
            <div class="col-xs-5">
                <input type="number" class="form-control" name="defaultCutoffTime" ng-model="partner.defaultCutoffTime" placeholder="如1120即为11点20分"/>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">识别号:</label>
            <div class="col-xs-5"><input type="text" class="form-control" id="reference" name="reference" ng-model="partner.reference" required=""/></div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-xs-3 control-label">学校名:</label>
            <div class="col-xs-5"><input type="text" class="form-control" id="instName" name="instName" ng-model="partner.instName" required=""/></div>
        </div>
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
                <input type="button" class="btn btn-primary" value="提 交" w5c-form-submit="create(partner)"/>
            </div>
        </div>
    </form>
    <div class="col-xs-3" scroll-fix>
        <button class="btn btn-default btn-warning btn-sm" ng-click="clear()">清空所填信息</button>
        <hr/>
        <pre>{{partner|json}}</pre>
    </div>
</div>