<!--filter-->
<div class="row margin-bottom">
    <div class="col-md-2" scroll-fix>
        <tabset vertical="true" type="pills">
            <label>审核状态</label>
            <li class="nav-divider"></li>
            <tab ng-repeat="a in tabs" heading="{{a.label}}" active="a.active"
                 select="chooseTab(a)">
            </tab>
            <li class="nav-divider"></li>
        </tabset>
        <label ng-hide="filter.id==''&&filter.name==''">当前筛选</label>
        <p ng-hide="filter.id==''">模板号:{{filter.id}}</p>
        <p ng-hide="filter.name==''">模板名:{{filter.name}}</p>
    </div>
    <div class="col-md-10">
        <form class="form-horizontal filter-form">
            <div class="form-group">
                <label class="control-label" for="">模板号</label>
                <div><input type="text" class="form-control input-sm"
                       ng-model="filter_tmp.id"/></div>
                <label class="control-label" for="">模板名</label>
                <div><input type="text" class="form-control input-sm"
                       ng-model="filter_tmp.name"/></div>
            </div>
            <div class="form-group">
                <label></label>
                <div>
                    <button class="btn btn-primary btn-sm" ng-click="doRefresh()"><i class="fa fa-search"></i> 查 询</button>
                    <button class="btn btn-default btn-sm" ng-click="clearFilter()">清空输入</button>
                </div>
            </div>
        </form>
        <div class="row">
            <pre class="col-md-4">filter_tab{{filter_tab|json}}</pre>
            <pre class="col-md-4">filter{{filter|json}}</pre>
            <pre class="col-md-4">filter_tmp{{filter_tmp|json}}</pre>
        </div>


        <div class="btn-toolbar">
            <a class="btn btn-primary" ui-sref="admin.templates.create"><i class="fa fa-plus"></i> 新建模板 </a>
            <a class="btn btn-default btn-sm text-danger" href="#"><i class="fa fa-trash-o"></i> 删除</a>
        </div>
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th ng-repeat="t in th" width="{{t.w}}%">
                    {{ t.n }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.id || '无'}}</td>
                <td>{{item.name|| '无'}}</td>
                <td>{{item.price|| '无'}}</td>
                <td>{{item.status| statusText}}</td>
                <td>
                    <a ui-sref="admin.templates.detail({id:item.id})">查看</a>
                    <!--todo 以下按钮为后台返回数据动态生成-->
                    <!--已上线或者审核失败的可进行修改-->
                    <a ng-show="item.status==getStatusValue('ON')||item.status==getStatusValue('FAILED')">修改</a>
                    <!--下线后才可删除-->
                    <a ng-click="delete(item.id)" ng-show="item.status==getStatusValue('OFF')">删除</a>
                    <a ng-click="updateStatus(item.id,item.status,'OFF')" ng-show="item.status==getStatusValue('ON')">下线</a>
                    <!--审核中或者审核失败可取消-->
                    <a ng-click="updateStatus(item.id,item.status,'OFF')"
                       ng-show="item.status==getStatusValue('CHECKING')||item.status==getStatusValue('FAILED')">取消审核</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="page clearfix">
            <p class="pull-left">共{{page.total}}条记录，每页显示{{page.count}}条记录</p>
            <pagination class="pull-right" ng-model="page.index" total-items="page.total" items-per-page="page.count"
                        ng-change="doRefresh()"
                        max-size="9"
                        class="pagination-sm"
                        boundary-links="true" rotate="false" num-pages="total_pages"
                        previous-text="上一页" next-text="下一页"></pagination>
        </div>

    </div>
</div>