<!--order_new content start-->
<div class="row">
    <div class="col-md-12">
        <div>{{ title }}
            <a ui-sref="" class="btn btn-primary pull-right">新建模板</a>
        </div>

        <div class="row">
            <div class="btn-group">
                <button class="btn btn">1</button>
                <button class="btn">1</button>
                <button class="btn">1</button>
            </div>
        </div>

        <table class="table table-bordered table-condensed table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>3</td>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--order_new content end-->