<!--order_new content start-->
<!--pay attention to ui-view for this is default view in state 'admin.templates'-->
<div ui-view>
    <div class="row">
        <div class="col-md-12">
            <div>{{ title }}
                <a ui-sref="admin.templates.create" class="btn btn-primary pull-right">新建模板</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default">action 1</button>
                <button class="btn btn-default">action 2</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                <tr>
                    <th ng-repeat="t in th" width="{{ t.w}}%">
                        {{ t.n }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                </tbody>
            </table>
            <pagination ng-model="page.index" total-items="page.total" items-per-page="page.size"
                        ng-change="doRefresh()"
                        max-size="9"
                        class="pagination-sm"
                        boundary-links="true" rotate="false" num-pages="total_pages"
                        previous-text="上一页" next-text="下一页"></pagination>
        </div>
    </div>
</div>
<!--order_new content end-->