
<div class="row">
    该部分为图片上传
    <form class="col-xs-12 form-horizontal" role="form" name="validateForm">
        <div ng-repeat="img in imgs">
            <label>图片{{$index + 1}}</label>
            <input type="file" name="classImg{{$index + 1}}" ng-file-select="onFileSelect($files, $index)">
            <input type="hidden" name="classImgUrl{{$index + 1}}" ng-model="item.classPhotoList[$index].imgUrl">
        </div>
        <input type="button" value="增 加" ng-click="addPhoto()"/>
        <input type="button" ng-show="noUploading()" value="提 交" ng-click="save()"/>
        <input type="button" value="取 消" ng-click="cancel()"/>
        <span ng-show="!noUploading()"/>图片上传中</span>
    </form>
</div>

<script>
    /**
     * 上传图片
     */
        //TODO: replace with real url
    $scope.imgs = [
        {}
    ];
    $scope.fileReaderSupported = window.FileReader != null && (window.FileAPI == null || FileAPI.html5 != false);
    $scope.hasUploader = function (index) {
        return $scope.upload[index] != null;
    };
    $scope.uploading = [];
    $scope.onFileSelect = function ($files, $index) {
        app.$upload.upload({
            url: uploadUrl,
            method: "POST",
            data: {},
            file: $files[0],
            fileFormDataName: "classPhoto1"
        }).success(function (response, status) {
            if (status !== 200) {
                app.toaster.pop("error", "照片添加失败", "");
                $scope.errorMsg = response.status + ': ' + response.data;
            } else {
                $scope.imgs[$index].imgUrl = response.data.imgUrl;
                app.toaster.pop("success", "照片添加成功", "");
            }
            $scope.uploading[$index] = false;
        }).progress(function (evt) {
            // Math.min is to fix IE which reports 200% sometimes
            $scope.progress[index] = Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
        });
        $scope.uploading[$index] = true;
    };
    $scope.noUploading = function () {
        var result = true, i;
        for (i = 0; i < $scope.uploading.length; i++) {
            result = result && !$scope.uploading[i];
        }
        return result;
    };
</script>