<!--header bar start-->
<header class="navbar navbar-static-top navbar-inverse" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">爱上课后台管理
                <small ng-if="port=='partner'">--机构专用</small>
                <small ng-if="port=='admin'">--管理员专用</small>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#/account">{{ global.user.username}}</a>
            </li>
            <li>
                <a ng-if="!global.isLogin" href="">未登录</a>
                <a ng-if="global.isLogin" ng-click="logout()">退出</a>
            </li>
        </ul>
    </div>
</header><!--header bar end-->

<div class="container">
    <!--navbar start-->
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a></a></li>
                <li ui-sref-active="active"><a ui-sref="admin.home">首页</a></li>
                <li ui-sref-active="active"><a ui-sref="admin.new_bookings">新单处理</a></li>
                <li ui-sref-active="active"><a ui-sref="admin.old_bookings">旧单审核</a></li>
                <li ng-class="{active: $state.includes('admin.courses')}"><a ui-sref="admin.courses.list">课程管理</a></li>
                <li ng-class="{active: $state.includes('admin.templates')}"><a ui-sref="admin.templates.list">模板管理</a></li>
                <li ng-if="port=='admin'" ui-sref-active="active"><a ui-sref="admin.institutions">机构管理</a></li>
            </ul>
        </div>
    </nav>
    <!--navbar end-->
    <div ui-view></div>
</div>
