<!--header bar start-->
<header class="navbar navbar-default navbar-static-top" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">爱上课后台管理</a>
        </div>
    </div>
</header><!--header bar end-->

<div class="container">
    <section class="loginBox row">
        <section class="col-xs-7">
            <h2>登录</h2>

            <p><input type="text" ng-model="login.accoutIdentifier" class="form-control" placeholder="账号"></p>
            <p><input type="password" ng-model="login.password" class="form-control" placeholder="密码"></p>
            <p class="span8"><label><input type="checkbox" ng-model="login.remember" name="rememberme">记住我</label></p>
            <button class="btn btn-primary btn-block" ng-click="submit()">登录</button>
        </section>
        <section class="col-xs-5">
            <h2>没有帐户？</h2>
            <section>
                <p>联系我们以新建账户</p>

                <p>TEL:xxxxxxx</p>
            </section>
        </section>
    </section>
    <!-- /loginBox -->
</div>