<!--filter-->
<div class="row margin-bottom">
    <!--左侧状态栏-->
    <div class="col-xs-2" scroll-fix>
        <tabset vertical="true" type="pills">
            <label></label>
            <li class="nav-divider"></li>
            <tab ng-repeat="a in tabs" heading="{{a.label}}" active="a.active"
                 ng-click="chooseTab(a)">
            </tab>
            <li class="nav-divider"></li>
        </tabset>

        <!--<div ng-repeat="(k,v) in search" ng-if="v">-->
        <!--<p ng-show="$index==0"><strong>当前筛选</strong>-->
        <!--<hr/></p>-->
        <!--<span ng-show="k=='id'">团购</span>{{k|searchText}} : {{v}}-->
        <!--</div>-->
    </div>
    <!--右侧内容面板-->
    <div class="col-xs-10 pull-right">
        <!--筛选表单-->
        <form class="form-horizontal filter-form">
            <div class="form-group">
                <label class="control-label">团购ID</label>

                <div><input type="text" class="form-control input-sm" ng-model="search_tmp.id"/></div>
                <label class="control-label">团购名</label>

                <div><input type="text" class="form-control input-sm" ng-model="search_tmp.title"/></div>
            </div>
            <div class="form-group">
                <label></label>

                <div>
                    <button class="btn btn-primary btn-sm" ng-click="doSearch()"><i class="fa fa-search"></i> 查 询
                    </button>
                    <button class="btn btn-default btn-sm" ng-click="clearSearch()">清空输入</button>
                </div>
            </div>
        </form>
        <hr/>

        <!--操作栏-->
        <div class="btn-toolbar">
            <a class="btn btn-primary" ui-sref="main.tuan.create"><i class="fa fa-plus"></i> 创建团购课程 </a>
            <!--<a class="btn btn-default btn-sm text-danger" href="#"><i class="fa fa-trash-o"></i> 删除</a>-->
        </div>
        <!--表格列表-->
        <table class="table table-condensed table-hover table-bordered margin-top">
            <thead>
            <tr>
                <th ng-repeat="t in th" width="{{t.w}}%">
                    {{ t.n }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.id || '无'}}</td>
                <td>{{item.title}}</td>
                <td>{{item.groupBuyPrice| currency}}</td>
                <td>{{item.endTime | date:'yyyy-MM-dd HH:ss'}}</td>
                <td>
                    {{item.status|tuanStatusText}}
                    <span ng-show="item.hot" class="label label-info">Top</span>
                </td>
                <td class="operations">
                    <a ui-sref="main.tuan.detail({id:item.id})">查看</a>
                    <!--<a ng-if="op.name=='submitUpdated'" ng-click="updateTuan(item.id,op.name)">修改</a>-->
                    <!--<a ng-if="op.name!='submitUpdated'&&op.name!='delete'" ng-click="operate(item.id,op.name)">-->
                    <!--{{op.name | courseOperationText}}-->
                    <!--</a>-->
                </td>
            </tr>
            </tbody>
        </table>
        <div class="page clearfix">
            <p class="pull-left">共{{page.total}}条记录，每页显示{{page.count}}条记录</p>
            <pagination class="pull-right" ng-model="page.start" total-items="page.total" items-per-page="page.count"
                        ng-change="doRefresh()"
                        max-size="9"
                        class="pagination-sm"
                        boundary-links="true" rotate="false" num-pages="total_pages"
                        previous-text="上一页" next-text="下一页"></pagination>
        </div>

    </div>
</div>