<!--filter-->
<div class="row margin-bottom">
    <!--左侧状态栏-->
    <div class="col-xs-2" scroll-fix>
        <tabset vertical="true" type="pills">
            <li class="nav-divider"></li>
            <tab ng-repeat="a in tabs" heading="{{a.label}}" active="a.active" ng-click="chooseTab(a)"></tab>
            <li class="nav-divider"></li>
            <li>
                <a ui-sref="main.tbooking.search"><i class="fa fa-search"></i> 高级搜素</a>
            </li>
        </tabset>
    </div>
    <!--右侧内容面板-->
    <div class="col-xs-10 pull-right">
        <div ng-include="'/views/common/tbookingResultTable.html'"></div>
    </div>
</div>