<div class="row">
    <div class="col-xs-12">
        <h3>
            <small><a ui-sref="main.courses.list" class="btn fa fa-chevron-left pull-left"> 返回 </a></small>
            课程详情
            <small>--{{course.courseName}}</small>
        </h3>
    </div>
</div>
<div class="row">
<form class="col-xs-9 form-horizontal form-detail" role="form" name="validateForm" w5c-form-validate novalidate>
<legend>重要信息</legend>
<div ng-if="port=='admin'" class="form-group form-group-sm">
    <label class="col-xs-3 control-label">所属机构</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.instName}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课程名(*)</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.courseName}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">原价格(*)</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{course.originalPrice|currency}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">爱上课价格(*)</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{course.price|currency}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课程所属类别</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.categoryValue | categoryText}}</p>
    </div>
</div>

<legend>基本信息</legend>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">开课日期</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{course.startDate|date}} 至 {{course.finishDate|date}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">上课时间</label>

    <div class="col-xs-8">
        <p class="form-control-static">
            {{course.startTime1|toHHmm}}-{{course.finishTime1|toHHmm}}
            <span ng-show="course.startTime2!=null">
                {{course.startTime2|toHHmm}}-{{course.finishTime2|toHHmm}}
            </span>
        </p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">上课区间</label>

    <div class="col-xs-3">
        <p class="form-control-static">
            {{course.schooltimeWeek|schooltimeWeek}}-{{course.schooltimeDay|schooltimeDay}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">上课日子</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{course.studyDays|studyDays}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课时数量</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{course.courseHourNum}}课时</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课时长度</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{course.courseHourLength}}(分钟)</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">班级类型</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{course.classSize}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">班级分类</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{course.classType | classType}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">开班要求</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.openCourseRequirement}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">报名截止日期</label>

    <div class="col-xs-3">
        <p class="form-control-static">{{course.cutoffDate|date}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">适合学员</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.suitableStudent}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">上课地点</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.address}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">报名地点</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.regAddress}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">教师列表</label>

    <div class="col-xs-5">
        <ul class="list-unstyled">
            <li ng-repeat="teacher in course.teacherList">
                <img ng-src="{{teacher.imgUrl}}" alt="教师照片" class="img-micro"/>
                <label>{{teacher.name}}</label>
                <span>--{{teacher.intro}}</span>
            </li>
        </ul>
    </div>
</div>


<legend>教学信息</legend>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课程介绍</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.courseIntro}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">教学目标</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.goal}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">先修知识</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.prerequest}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">上课形式</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.teachingMethod}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">教材介绍</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.teachingMaterialIntro}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">教材费用</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.teachingMaterialFee}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课程提纲</label>

    <div class="col-xs-8">
        <p class="form-control-static" ng-bind-html="course.outline"></p>
    </div>
</div>
<legend>教学补充</legend>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课件下载</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.downloadMaterials}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">题库支持</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.questionBank}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">质量保证</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.classTeacher}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">讲练结合</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.teachingAndExercise}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">阶段测评</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.quiz}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课后答疑</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.questionSession}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课后作业</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.assignments}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">作业批改</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.marking}}</p>
    </div>
</div>
<legend>教学保障</legend>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">签约保过</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.passAgreement}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">高分奖励</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.highScoreReward}}</p>
    </div>
</div>
<legend>特色服务</legend>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">结业证书</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.certification}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">课后互动</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.extracurricular}}</p>
    </div>
</div>
<div class="form-group form-group-sm">
    <label class="col-xs-3 control-label">赠送服务</label>

    <div class="col-xs-8">
        <p class="form-control-static">{{course.bonusService}}</p>
    </div>
</div>

</form>
<div class="col-xs-3" scroll-fix>
    <label>可执行的操作</label>
    <ul>
        <li ng-click="doRefresh()"><i class="fa fa-refresh"></i> 刷新</li>
        <li ng-repeat="op in course.actionList" ng-click="operate(course.id,op.name)">
            <span ng-if="op.name=='submitUpdated'">修改</span>
            <span ng-if="op.name!='submitUpdated'">{{op.name | courseOperationText}}</span>
        </li>
    </ul>
</div>

</div>