<!--表格列表-->
<table class="table table-condensed table-hover table-bordered margin-top">
    <thead>
    <tr>
        <th ng-repeat="t in th" width="{{t.w}}%">
            {{ t.n }}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
        <td>{{item.reference || '无'}}</td>
        <td>{{item.name || '无'}}</td>
        <td>{{item.price | currency}}</td>
        <td>{{item.type | payTypeText}}</td>
        <td>{{item.status | bookingStatusText}}</td>
        <td>{{item.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
        <td class="operations">
            <a ui-sref="main.bookings.detail({id:item.id})">查看</a>
            <a ng-repeat="op in item.actionList"
               ng-really-click="operate(item.id,op.name)" ng-really-message="操作确认-->{{op.name |  bookingOperationText}}">
                {{op.name |  bookingOperationText}}</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="page clearfix">
    <p class="pull-left">共{{page.total}}条记录，每页显示{{page.count}}条记录</p>
    <pagination class="pull-right" ng-model="page.start" total-items="page.total" items-per-page="page.count"
                ng-change="doRefresh()"
                max-size="9"
                class="pagination-sm"
                boundary-links="true" rotate="false" num-pages="total_pages"
                previous-text="上一页" next-text="下一页"></pagination>
</div>